<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet"> 
        <title>Test</title>
    </head>

    <body>
        <div class='bg'>
        <header>
            <div>
                <!-- <h1>NLP</h1> -->
                <h1>Natural Language Processer</h1>
                <h2>Learn more about what you're reading.</h2>
            </div>
        </header>
        <main>
            <section>
                <ol>
                    <li>STEP 1 : Find a news article you would like to assess.</li>
                    <li>STEP 2 : Enter the full web address into the form and submit!</li>
                </ol>
                <!-- <div id='label'>*This may take a moment, please wait while your results process!</div> -->
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="entry" type="text" name="input" value="" placeholder="Website URL">
                    <input id="submit" type="submit" name="" value="Submit Article" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <div id='label'>Submitted! Please wait while your results process!</div>
            <section>

            <section>
                <div id='results'>
                <!-- <div id='resultHead'><strong>Your NLP Results</strong></div> -->
                    <div id='resultArea'>
                        <div id="resultsOne">
                            <img src='../images/agreement.png' alt='Agreement icon: X mark verse check mark'>
                            <div id='agreement'></div>
                        </div>
                        <div id="resultsTwo">
                            <img src='../images/irony.png' alt='Irony icon: Exclamation inside word bubble.'>
                            <div id='irony'></div>
                        </div>
                        <div id="resultsThree">
                            <img src='../images/subjectivity.png' alt='Subjective icon: Book with white tab.'>
                            <div id='subjectivity'></div>
                        </div>
                        <div id="resultsFour">
                            <img src='../images/confidence.png' alt='Confidence icon: Thumbs up.'>
                            <div id='confidence'></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div id='footer'>Created By Emma Blair</div>
        </footer>
        </div>
    </body>
</html>
